@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 95%;
  margin: 0 auto;
}
.active a {
  color: #568203;
}
a {
  text-decoration: none !important;
  transition: ease-in-out 0.3s;
  color: #000;
}
li {
  list-style: none;
}

.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ================================= */

/* ===  Header Section Start === */

/* ---Navigation STARTS--- */

.navbar {
  width: 100%;
  height: auto;
  padding: 1% 5%;
  margin-top: 1%;
  position: relative;
  background-color: white;
  z-index: 100;
  border-radius: 10px;
}

nav .navbar ul {
  display: flex;
  gap: 60px;
}
nav .navbar ul li {
  font-size: 19px;
}
nav .navbar ul li a:hover {
  color: #568203;
}
.navbar .logo {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
}
.navbar .logo a:hover {
  color: black;
}

.navbar .logo a {
  color: #568203;
}
.nav-btn {
  padding: 1% 2%;
  background-color: #568203;
  font-size: 19px;
  border-radius: 8px;
  transition: ease-in-out 0.3s;
}
.nav-btn:hover {
  background-color: black;
}
.nav-btn a {
  color: white;
}
/* ---Navigation ENDS--- */

.header-video {
  width: 100%;
  height: auto;
  /* background-color: #568203; */
  margin-top: 0.8%;
}

.custom-video {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  z-index: -100;
}

.video-row {
  background-color: rgba(0, 0, 0, 0.505);
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-1-02 {
  width: 50%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-1-01 {
  width: 50%;
  height: 80vh;
  display: flex;
  justify-content: left;
  padding-left: 110px;
  align-items: center;
}
.heading h1 {
  color: white;
  font-size: 90px;
  line-height: 95px;
  padding-bottom: 30px;
}
.heading span {
  font-size: 27px;
  color: white;
}
.heading p {
  font-size: 23px;
  font-weight: 200;
  color: white;
}
.img-box {
  height: 60vh;
  width: 70%;
}
.img-box img {
  width: 95%;
}

/* Header Section End */

/* Special Menu Section Start */
.main-special-menu {
  margin: 0 auto;
  width: 85%;
}
.special-menu {
  width: 100%;
  height: auto;
}

.heading-globle {
  margin-bottom: 40px;
  margin-top: 45px;
}

.heading-globle h2 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}
.special-menu-row {
  width: 100%;
  height: 70vh;
  display: flex;
}
.col-2-01 {
  width: 100%;
  height: 70vh;
  margin-right: 30px;
}
.col-2-02 {
  width: 100%;
  height: 70vh;
  margin-right: 30px;
}
.col-2-03 {
  width: 100%;
  height: 70vh;
}

.menu-img img {
  width: 100%;
}
.special-menu-title {
  margin-top: 30px;
}

.special-menu-title span:nth-child(1) {
  font-size: 30px;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
}
.special-menu-title span:nth-child(2) {
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 10px 20px;
  color: goldenrod;
  border-radius: 50px;
  box-shadow: 0px 0px 50px -10px black;
}
.special-menu-title .rating {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 600;
}
.special-menu-title .reviews {
  color: #ccc;
  font-size: 18px;
  line-height: 50px;
}

.menu-tag {
  width: 100%;
  height: 6vh;
  background-color: #568203;
  color: white;
  font-size: 20px;
  padding: 10px 10px;
  margin-top: -10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* Special Menu Section End */

/* Break Fast Section Start */

.breakfast {
  background-image: url(../image/fix.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 100px;
  height: 50vh;
  width: 100%;
}
/* Break Fast Section End */

/* News & Event Section Start */

.news-events {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
}

.main-news-events h3 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.post-title h2 {
  font-size: 30px;
}
.blog-post-row {
  display: flex;
  justify-content: center;
}
.col-3-01 {
  margin-right: 30px;
}

.post-img img {
  border-radius: 10px;
}
.post-title button {
  padding: 7px 20px;
  margin-top: 14px;
  border: none;
  background-color: #568203;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.mini-img {
  margin-top: 50px;
}

.mini-img img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}
.mini-post-title span:nth-child(1) {
  background-color: red;
  color: white;
  padding: 5px 15px;
  font-size: 17px;
  border-radius: 50px;
}
.mini-post-title span:nth-child(2) {
  font-size: 17px;
  font-weight: 400;
  line-height: 65px;
}

.mini-post-title h4 {
  font-size: 30px;
}

.mini-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mini-news {
  width: 100%;
  margin: 0 auto;
}
.container-main-news {
  width: 85%;
  margin: 0 auto;
}

.col-4-03 {
  padding-left: 40px;
}
.col-4-02 {
  padding-left: 40px;
}

/* News & Event Section End */

/* Footer Section Start */

.bg-footer {
  background-image: url(../image/footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 60vh;
}
.footer-row {
  background-color: rgba(0, 0, 0, 0.737);
  color: white;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 65px;
  padding-right: 65px;
}
.col-5-01 {
  width: 100%;
  height: auto;
}
.col-5-02 {
  width: 100%;
  height: auto;
}
.col-5-03 {
  width: 100%;
  height: auto;
}
.col-5-01 h4 {
  font-size: 25px;
  font-weight: 700;
  padding: 33px 50px;
}
.col-5-02 h4 {
  font-size: 25px;
  font-weight: 700;
  padding: 42px 50px;
}
.col-5-03 h4 {
  font-size: 25px;
  font-weight: 700;
  padding: 33px 50px;
}

.col-5-01 p {
  padding: 0px 50px;
  font-weight: 100;
}

.col-5-01 button {
  margin: 15px 50px;
  padding: 7px 25px;
  background-color: #568203;
  border: none;
  color: white;
  font-size: 16px;
  transition: all ease-in-out 0.3s;
}
.col-5-01 button:hover {
  background-color: red;
}

.col-5-02 span {
  padding: 33px 50px;
  font-weight: 100;
}
.col-5-03 .social-icon {
  padding: 0px 50px;
}
.col-5-03 .social-icon i {
  font-size: 20px;
  margin-left: 10px;
}

.col-5-03 .copyright {
  padding: 0px 50px;
}

/* 
.col-5-01, .col-5-02, .col-5-03 span{

    padding: 33px 50px;

} */

/* Footer Section End */

/* About Header Start */

.about-header {
  width: 100%;
  height: 50vh;
  background-image: url(../image/about-story.jpg);
  background-position: center;
  background-size: cover;
}

.bg-black {
  background: linear-gradient(to top, black, transparent 150%);
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-black h1 {
  color: white;
  font-size: 65px;
  text-align: center;
}
.bg-black p {
  color: white;
  text-align: center;
  font-size: 18px;
}
.about-container {
  width: 80%;
  margin: 0 auto;
}
.info-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}
.main-mini-info {
  width: 100%;
  height: 50vh;
}
.about-col-1-02 {
  padding-left: 100px;
}
.about-col-1-02 p {
  font-weight: 100;
  font-size: 18px;
}
.about-col-1-01 h2 {
  font-size: 27px;
  margin-bottom: 20px;
}
.about-col-1-01 a {
  background-color: #568203;
  padding: 10px 20px;
  color: white;
  margin-right: 10px;
}
.about-col-1-01 a:hover {
  background-color: red;
}

/* About Header End */

/* Teams Section Start */
.main-teams {
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
}
.team-container {
  width: 80%;
  margin: 0 auto;
}

.teams-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  height: 80vh;
}

.teams-row img {
  width: 100%;
}

.teams-col-1-01 {
  width: 100%;
  padding-right: 25px;
}
.teams-col-1-01 h3 {
  font-size: 25px;
}
.teams-col-1-02 {
  width: 100%;
  padding-right: 25px;
}
.teams-col-1-02 h3 {
  font-size: 25px;
}
.teams-col-1-03 {
  width: 100%;
}
.teams-col-1-03 h3 {
  font-size: 25px;
}
.team-heading h2 {
  font-size: 50px;
  padding-top: 100px;
}

/* Teams Section End */

/* News & Latest Update Section Start */

.main-news-update {
  width: 100%;
  height: 80vh;
}
.news-update-container {
  width: 80%;
  margin: 0 auto;
}

.news-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.news-col-1-01 {
  width: 50%;
}

.news-col-1-02 {
  width: 50%;
}
.news-col-1-01 img {
  width: 75%;
  border-radius: 50%;
}
.news-col-1-02 h4 {
  font-size: 35px;
  font-weight: 300;
}
.news-col-1-02 p {
  font-size: 19px;
  font-weight: 300;
  color: gray;
  margin-bottom: 20px;
}
.news-col-1-02 input {
  width: 70%;
  height: 60px;
  padding: 10px 16px;
  border: 1px solid #ccc;
  border-radius: 7px;
}
.news-col-1-02 button {
  margin-top: 12px;
  padding: 17px 28%;
  font-size: 16px;
  border: none;
  background-color: #568203;
  color: white;
  border-radius: 7px;
  transition: all ease-in 0.3s;
}
.news-col-1-02 button:hover {
  background-color: red;
}
.news-col-1-02 span {
  display: block;
  margin-top: 15px;
  font-size: 13px;
  font-weight: 300;
  color: gray;
}

/* News & Latest Update Section End */

/* ==== Main Menu Section Start ==== */

.menu-header {
  width: 100%;
  height: 50vh;
  background-image: url(../image/menu.jpg);
  background-position: center;
  background-size: cover;
}

.bg-black {
  background: linear-gradient(to top, black, transparent 150%);
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-black h1 {
  color: white;
  font-size: 65px;
  text-align: center;
}
.bg-black p {
  color: white;
  text-align: center;
  font-size: 18px;
}

.main-breakfast-menu {
  width: 100%;
  background-color: #f9f9f9;
  padding-bottom: 120px;
}
.menu-container {
  width: 80%;
  margin: 0 auto;
}
.break {
  margin-top: 50px;
}
.breakfast-heading {
  font-size: 50px;
  padding-top: 120px;
}
.breakfast-heading h3 {
  font-weight: bold;
}

/* ==== Main Menu Section End ==== */

/* ==== Lunch Menu Section End ==== */

.main-lunch-menu {
  padding-bottom: 130px;
}

.lunch-menu-container {
  width: 80%;
  margin: auto;
}
.lunch-heading {
  font-size: 50px;
  padding-top: 120px;
  padding-bottom: 46px;
}
.lunch-title h3 {
  display: inline;
  font-size: 30px;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
}
.lunch-title span {
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 10px 20px;
  color: goldenrod;
  border-radius: 50px;
  box-shadow: 0px 0px 50px -10px black;
  margin-right: 15px;
}

.rating-lunch span {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 600;
}

.rating-lunch span:nth-child(3) {
  color: #ccc;
  font-size: 18px;
  line-height: 50px;
  font-weight: 100;
}
.lunch-img-box {
  margin-bottom: 15px;
}

.lunch-row {
  display: flex;
}

.lunch-col-01-01 {
  padding-right: 25px;
}
.lunch-row img {
  width: 100%;
}

.gap {
  display: inline;
}

/* ==== Lunch Menu Section End ==== */

/* ==== news-envent Section Start ==== */

.news-envent-header {
  width: 100%;
  height: 50vh;
  background-image: url(../image/news-event.jpg);
  background-position: center;
  background-size: cover;
}

.bg-black {
  background: linear-gradient(to top, black, transparent 150%);
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-black h1 {
  color: white;
  font-size: 65px;
  text-align: center;
}
.bg-black p {
  color: white;
  text-align: center;
  font-size: 18px;
}

.main-news-envent {
  width: 100%;
  padding-bottom: 120px;
}
.news-envent-container {
  width: 80%;
  margin: 0 auto;
}
.news-event-blog-post-section-container {
  width: 80%;
  margin: 0 auto;
}
.latest-update-heading {
  font-size: 47px;
  margin-bottom: 50px;
}

.main-news-event-blog-post-section {
  background-color: #f9f9f9;
  padding-top: 140px;
  padding-bottom: 140px;
}

/* ==== news-enventSection End ==== */

/* ==== Contact Section Start ==== */

.contact-header {
  width: 100%;
  height: 50vh;
  background-image: url(../image/contact\ header\ img.jpg);
  background-position: center;
  background-size: cover;
}

.bg-black {
  background: linear-gradient(to top, black, transparent 150%);
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-contact {
  width: 100%;
  padding-bottom: 120px;
}
.contact-container {
  width: 80%;
  margin: 0 auto;
}
.contact-heading h3 {
  padding-bottom: 35px;
  font-size: 50px;
}

.row-contact {
  display: flex;
  align-items: center;
}

.contact-col-1-01 {
  width: 100%;
  margin-right: 60px;
}

.contact-col-1-02 {
  width: 100%;
  margin-left: 60px;
}

.inter-row-contact label {
  font-size: 18px;
  color: #717278;
}

.inter-row-contact .email input {
  width: 300px;
  height: 45px;
  padding: 12px;
}
.weekends h3 {
  font-size: 30px;
  margin-bottom: 8px;
  letter-spacing: 3px;
}
.weekdays h3 {
  font-size: 30px;
  margin-bottom: 8px;
  letter-spacing: 3px;
}

.weekdays span:nth-child(1) {
  margin-right: 30px;
  font-size: 19px;
  color: #a6a3a3;
}

.weekends span:nth-child(2) {
  margin-right: 30px;
  font-size: 19px;
  color: #a6a3a3;
}

.weekends span {
  font-size: 19px;
  color: #a6a3a3;
}

.weekdays span {
  font-size: 19px;
  color: #a6a3a3;
}

.map {
  height: 50vh;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 150px;
}

.mapping h4 {
  font-size: 25px;
}

/* ==== Contact Section End ==== */

/*
=====================
Media Queries Start
=====================
*/

@media only screen and (max-width: 1000px) {
  nav ul li {
    display: none;
  }
  .col-1-01 {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: left;
    padding-left: 25px;
    align-items: center;
  }
  .heading h1 {
    color: white;
    font-size: 65px;
    line-height: 95px;
    padding-bottom: 30px;
  }
  .img-box img {
    display: none;
  }
  .special-menu-row {
    flex-direction: column;
    height: auto;
  }
  .special-menu-title span:nth-child(2) {
    line-height: 50px;
    text-align: center;
    margin-left: 14px;
  }
  .blog-post-row {
    flex-direction: column;
  }
  .blog-post-row img {
    width: 100%;
  }
  .mini-row {
    flex-direction: column;
  }
  .col-4-02 {
    padding-left: 0px;
  }
  .col-4-03 {
    padding-left: 0px;
    margin-bottom: 40px;
  }
  .col-3-01 {
    margin-right: 0px;
    margin-bottom: 50px;
  }
  .footer-row {
    flex-direction: column;
  }
  .col-5-03 {
    padding-bottom: 20px;
  }
  .col-2-01 {
    height: auto;
    margin-right: 0px;
    margin-bottom: 25px;
  }
  .col-2-02 {
    height: auto;
    margin-right: 0px;
    margin-bottom: 25px;
  }
  .col-2-03 {
    height: auto;
    margin-right: 0px;
    margin-bottom: 25px;
  }
  .heading-globle h2 {
    font-size: 40px;
  }
  .main-news-events h3 {
    font-size: 40px;
  }
  .footer-row {
    height: auto;
  }
  .bg-footer {
    height: auto;
  }
  .info-row {
    flex-direction: column;
    height: auto;
  }
  .about-col-1-01 {
    margin-top: 40px;
  }
  .about-col-1-02 {
    padding-left: 0px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .main-mini-info {
    height: auto;
  }
  .about-col-1-01 h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .about-col-1-02 p {
    font-weight: 100;
    font-size: 17px;
  }
  .bg-black h1 {
    color: white;
    font-size: 50px;
    text-align: center;
  }
  .teams-row {
    flex-direction: column;
    height: auto;
  }
  .main-teams {
    height: auto;
  }
  .team-heading h2 {
    font-size: 40px;
    padding-top: 80px;
    padding-bottom: 33px;
  }
  .teams-col-1-01 {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 33px;
  }
  .teams-col-1-02 {
    width: 100%;
    padding-right: 0px;
    margin-bottom: 33px;
  }
  .teams-col-1-03 {
    width: 100%;
  }

  .main-news-update {
    height: auto;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .news-row {
    flex-direction: column;
    height: auto;
  }
  .news-col-1-01 {
    width: 100%;
    text-align: center;
  }

  .news-col-1-02 {
    width: 100%;
    text-align: center;
  }
  .news-col-1-02 input {
    width: 100%;
    height: 60px;
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 7px;
  }

  .news-col-1-02 button {
    margin-top: 12px;
    width: 100%;
    padding: 17px 36.5%;
    font-size: 16px;
    border: none;
    background-color: #568203;
    color: white;
    border-radius: 7px;
    transition: all ease-in 0.3s;
  }
  .footer-row {
    padding-left: 0px;
    padding-right: 0px;
  }

  .lunch-row {
    flex-direction: column;
  }
  .lunch-title h3 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .rating-lunch span {
    padding-left: 0px;
    padding-right: 0px;
  }
  .lunch-title {
    margin-bottom: 18px;
  }

  .gap {
    display: block;
    margin-top: 20px;
  }
}

/*
        =====================
        Media Queries Start
        =====================
        */
